.cloud {
  position: absolute;
  z-index: 10;
  animation: move-left linear infinite;
}

@keyframes move-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100vw);
  }
}
