@use "../../../styles/index" as s;

.cloud {
  position: absolute;
  z-index: 10;
  @include s.move-left-animation();
  @include s.move-left-keyframes();

  &__img {
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
  }
}
