@use "../../styles/index" as s;

.search {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__form {
    width: 80%;
    display: flex;
    justify-content: center;
    position: relative;
    max-width: 350px;
  }

  &__input {
    width: 100%;
    height: 35px;
    max-width: 350px;
    border: none;
    border-radius: 18px;
    font-size: 18px;
    padding: 0 10px;
    padding-right: 40px;
    outline-color: s.$secondaryColor;
    color: s.$primaryColor;
    font-weight: 500;
    font-family: s.$primaryFont;
  }

  &__icon-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    border: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    color: #ccc;
  }
  &__results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    width: 100%;
    text-align: center;
    overflow-y: auto;
    height: auto;
    max-height: 500px;
    max-width: 768px;
  }

  &__title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 350px;
  }

  &__title-icon {
    padding-right: 5px;
  }

  &__title {
    margin: 5px 0;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    max-width: 350px;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: s.$primaryColor;
}

::-webkit-scrollbar-thumb {
  background: s.$primaryBgColor;
}

::-webkit-scrollbar-thumb:hover {
  background: #94bedc;
}
