@use "../../../styles/index" as s;

.hourly-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

  &--sun {
    background: s.$hourly-weather-color-sun;
  }

  &--clouds {
    background: s.$hourly-weather-color-clouds;
  }

  &__time,
  &__temp {
    font-weight: 500;
  }

  &__time {
    margin: 0;
    font-size: 14px;
    padding-top: 15px;
  }

  &__icon {
    max-width: 50px;
    max-height: 50px;
    padding: 5px 0;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
  }

  &__temp {
    margin: 0;
    font-size: 14px;
    padding: 5px 0 15px 0;

    &--celsius {
      font-size: 12px;
    }
  }
}
