@use "../../../styles/index" as s;

.location {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: s.$primaryColor;
  width: 100%;

  @include s.small {
    border-radius: 8px;
  }

  &:hover {
    background-color: s.$search-bar-color-selected;
  }

  &--selected {
    background-color: s.$search-bar-color-selected;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    max-width: 500px;
    padding: 15px 0;
    border-bottom: 1px solid #f0f0f0;
    @include s.small {
      max-width: 750px;
    }
  }

  &__last-item {
    border-bottom: unset;
  }

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    width: 75%;
    min-width: 300px;
    cursor: pointer;
    flex-grow: 1;
  }

  &__city {
    font-size: 22px;
    margin: 0;
  }

  &__sub-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 8px;
  }

  &__region {
    font-size: 16px;
    margin: 0;
    font-weight: 300;
    margin-right: 5px;
    padding-right: 5px;
    border-right: 1px solid s.$primaryColor;
    display: inline-block;
    max-width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__country {
    font-size: 16px;
    margin: 0;
    font-weight: 300;
  }

  &__remove-icon {
    font-size: 20px;
    cursor: pointer;
  }
}
