// Text colors
$primaryColor: #002b5c;
$secondaryColor: #fdb913;

// Background colors
$primaryBgColor: linear-gradient(to right, #b6fbff, #83a4d4);
$secondaryBgColor: #5c7e96;
$thirdBgColor: #525252;

// Background colors for weather
$background-color-sun: rgba(255, 255, 204, 0.5);
$background-color-sun-before: radial-gradient(
  circle at center,
  rgba(252, 252, 78, 0.5),
  transparent 70%
);

$background-color-clouds: rgba(88, 96, 125, 0.5);
$background-color-clouds-before: linear-gradient(to left, #67a2be, #a8a8a8);

$search-bar-color-sun: linear-gradient(to left, #83bad4, #eee69d);
$search-bar-color-clouds: linear-gradient(to left, #67a2be, #a8a8a8);

$search-bar-color-selected: #f0f0f0;

// Color opacity
$primaryColorOpacity: rgba(250, 250, 250, 0.7);
$secondaryBgColorOpacity: rgba(92, 126, 150, 0.6);
$secondaryBgColorOpacityDarker: rgba(92, 126, 150, 0.8);

// Text shadow
$primaryTextShadowColor: #383838;
