@use "../../styles/index" as s;

.details {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 25px;
  overflow: auto;

  &__summary-title {
    font-size: 18px;
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid s.$primaryColor;
  }

  &__container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;

    &__column {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  &__icon {
    max-width: 30px;
    max-height: 30px;
  }

  &__level {
    text-align: start;
    margin-left: 5px;
  }

  &__unit {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
  }

  &__text {
    margin: 0;
  }
}
