@use "../../styles/index" as s;
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: s.$primaryFont;
  background-image: s.$primaryBgColor;
  overflow: hidden;
}

body {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

* {
  box-sizing: border-box;
}

#root {
  height: 100%;
  overflow: hidden;
}

.background {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;

  &--sun {
    @include s.weather-background(s.$background-color-sun);

    &::before {
      @include s.weather-background-position(s.$background-color-sun-before);
    }
  }

  &--clouds {
    @include s.weather-background(s.$background-color-clouds);

    &::before {
      @include s.weather-background-position(s.$background-color-clouds-before);
    }
  }
}

.layout {
  height: 100%;
  width: 100%;
  max-width: 1240px;
  color: s.$primaryColor;
  z-index: 100;
  overflow: auto;
  // background-image: s.$primaryBgColor;
  // background-image: linear-gradient(to right, #141e30, #243b55); // Dark Theme background color

  // @include s.large {
  //   box-shadow: 1px 0px 20px rgba(151, 149, 149, 0.8),
  //     0px 10px 5px rgba(151, 149, 149, 0.1);
  // }
}
