@use "../../styles/index" as s;

.weather {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  &__city-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  &__city-icon {
    font-size: 18px;
  }

  &__city {
    font-size: 28px;
    font-weight: 400;
    margin: 0;
    display: inline-block;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
  }

  &__region {
    font-size: 18px;
    margin: 0;
    font-weight: 300;
    margin-right: 5px;
    padding-right: 5px;
    border-right: 1px solid s.$primaryColor;
    display: inline-block;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__country {
    font-size: 18px;
    margin: 0;
    font-weight: 300;
  }

  &__info {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px 0;

    &__icon {
      max-width: 160px;
      max-height: 160px;
      z-index: 2;
      margin-top: 10px;

      @include s.mobile {
        filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
      }
    }

    &__temp {
      font-size: 74px;
      margin: 0;

      &--celsius {
        font-size: 54px;
      }
    }

    &__high-low-temp {
      display: flex;
      flex-direction: row;
      gap: 10px;
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 5px;

      p {
        margin: 0;
      }
    }
  }

  &__navigation {
    margin: 25px 0 25px 0;
    width: 80%;
    display: flex;
    justify-content: space-between;
    max-width: 480px;
  }

  &__button {
    background-color: rgba(250, 250, 250, 0.5);
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0;
    border: none;
    color: s.$primaryColor;
    font-weight: 600;
    font-size: 16px;
    width: 100px;
    height: 40px;
    cursor: pointer;
    transition: all ease 0.2s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__button.active {
    opacity: 0.5;
    cursor: none;
    pointer-events: none;
  }

  &__angle-left-icon {
    padding-right: 5px;
  }

  &__angle-right-icon {
    padding-left: 5px;
  }

  &__description {
    font-size: 18px;
    font-weight: 400;
    margin: 5px 0;

    &::first-letter {
      text-transform: capitalize;
    }
  }

  &__details-button {
    font-family: s.$primaryFont;
    font-size: 18px;
    width: 225px;
    height: 40px;
    background-color: s.$secondaryColor;
    color: s.$primaryColor;
    border: none;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 25px;
  }
}
